body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(241, 241, 241);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  background-color: #6C757D;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
  width: 200px;
  height: 100px;
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 100px;
  border-radius: 8px;
  box-shadow: rgb(169, 169, 169) 5px 5px 5px;
}

a:hover {
  color: rgb(255, 255, 255);
  box-shadow: rgb(169, 169, 169) 0px 0px 25px 15px ;
}

[class^=col-] {
  height: 15vh;
  background-color: darkgrey;
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_main {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  width: 80%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome p {
  font-size: 8vw;
  font-weight: bolder;
  text-decoration: underline;
}

.links {
  width: 61%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
}

@media screen and (max-width:700px) {
  .links {
    display: none;
  }
}
